@font-face {
  font-family: "Artegra Sans";
  font-style: normal;
  src: url('../fonts/ArtegraSans-ExtraBold.otf') format("opentype"),
  // src: url('../fonts/ArtegraSans-ExtraBoldItalic.otf') format("opentype"),
    url('../fonts/ArtegraSans-ExtraLight.otf') format("opentype"),
    // url('../fonts/ArtegraSans-ExtraLightItalic.otf') format("opentype"),
    url('../fonts/ArtegraSans-Light.otf') format("opentype"),
    url('../fonts/ArtegraSans-LightItalic.otf') format("opentype"),
    url('../fonts/ArtegraSans-Medium.otf') format("opentype"),
    // url('../fonts/ArtegraSans-MediumItalic.otf') format("opentype"),
    url('../fonts/ArtegraSans-Regular.otf') format("opentype"),
    url('../fonts/ArtegraSans-RegularItalic.otf') format("opentype");
  /* Legacy iOS */
}

$main-title: 3rem;