@font-face {
    font-family: 'ArtegraSans';
    src: url('../fonts/ArtegraSans-ExtraBold.otf') format("opentype"); /* IE9 Compat Modes */
    src: url('../fonts/ArtegraSans-ExtraBoldItalic.otf') format("opentype"), /* IE6-IE8 */
    url('../fonts/ArtegraSans-ExtraLight.otf') format("opentype"), /* Super Modern Browsers */
    url('../fonts/ArtegraSans-ExtraLightItalic.otf') format("opentype"), /* Pretty Modern Browsers */
    url('../fonts/ArtegraSans-Light.otf') format("opentype"), /* Safari, Android, iOS */
    url('../fonts/ArtegraSans-LightItalic.otf') format("opentype"),
    url('../fonts/ArtegraSans-Medium.otf') format("opentype"),
    url('../fonts/ArtegraSans-MediumItalic.otf') format("opentype"),
    url('../fonts/ArtegraSans-Regular.otf') format("opentype"),
    url('../fonts/ArtegraSans-RegularItalic.otf') format("opentype"); /* Legacy iOS */
  }