@font-face {
  font-family: "Artegra Sans regular";
  font-style: normal;
  src: url('../fonts/ArtegraSans-Regular.otf') format("opentype");
  }

@font-face {
  font-family: "Artegra Sans bold-italic";
  font-style: normal;
  src: url('../fonts/ArtegraSans-ExtraBoldItalic.otf') format("opentype");
  
}


@font-face {
  font-family: "Artegra Sans extra-light";
  font-style: normal;
  src: url('../fonts/ArtegraSans-ExtraLight.otf') format("opentype");
  
}

@font-face {
  font-family: "Artegra Sans exta-light-italic";
  font-style: normal;
  src: url('../fonts/ArtegraSans-ExtraLightItalic.otf') format("opentype");
  
}


@font-face {
  font-family: "Artegra Sans light";
  font-style: normal;
  src: url('../fonts/ArtegraSans-Light.otf') format("opentype");
  
}


@font-face {
  font-family: "Artegra Sans exta-light-italic";
  font-style: normal;
  src: url('../fonts/ArtegraSans-LightItalic.otf') format("opentype");
  
}

@font-face {
  font-family: "Artegra Sans medium";
  font-style: normal;
  src: url('../fonts/ArtegraSans-Medium.otf') format("opentype");
  
}

@font-face {
  font-family: "Artegra Sans exta-medium-italic";
  font-style: normal;
  src: url('../fonts/ArtegraSans-MediumItalic.otf') format("opentype");
  
}

@font-face {
  font-family: "Artegra Sans exta-bold";
  font-style: 900;
  src: url('../fonts/ArtegraSans-ExtraBold.otf') format("opentype");
  
}

@font-face {
  font-family: "Artegra Sans regular-italic";
  font-style: italic;
  src: url('../fonts/ArtegraSans-RegularItalic.otf') format("opentype");
  
}


$main-title: 3rem;