/* Gallery */
/* MAIN COLORS */
/* NEWS PAGE */
@font-face {
  font-family: "Artegra Sans regular";
  font-weight: normal;
  src: url("../fonts/ArtegraSans-Regular.otf") format("opentype"); }
@font-face {
  font-family: "Artegra Sans bold-italic";
  font-weight: normal;
  src: url("../fonts/ArtegraSans-ExtraBoldItalic.otf") format("opentype"); }
@font-face {
  font-family: "Artegra Sans extra-light";
  font-weight: 100;
  src: url("../fonts/ArtegraSans-ExtraLight.otf") format("opentype"); }
@font-face {
  font-family: "Artegra Sans exta-light-italic";
  font-style: italic;
  src: url("../fonts/ArtegraSans-ExtraLightItalic.otf") format("opentype"); }
@font-face {
  font-family: "Artegra Sans light";
  font-weight: 200;
  src: url("../fonts/ArtegraSans-Light.otf") format("opentype"); }
@font-face {
  font-family: "Artegra Sans exta-light-italic";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/ArtegraSans-LightItalic.otf") format("opentype"); }
@font-face {
  font-family: "Artegra Sans medium";
  font-weight: normal;
  src: url("../fonts/ArtegraSans-Medium.otf") format("opentype"); }
@font-face {
  font-family: "Artegra Sans exta-medium-italic";
  font-weight: normal;
  src: url("../fonts/ArtegraSans-MediumItalic.otf") format("opentype"); }
@font-face {
  font-family: "ArtegraSans-ExtraBold";
  font-weight: bold;
  src: url("../fonts/ArtegraSans-ExtraBold.otf") format("opentype"); }
@font-face {
  font-family: "Artegra Sans regular-italic";
  font-style: italic;
  src: url("../fonts/ArtegraSans-RegularItalic.otf") format("opentype"); }
/* IMPORT STYLE COMPONENTS */
/***************************************************
****************************************************     

        COMPONENT FOR NEWS AND PROMOTIONS 

*****************************************************
****************************************************/
.news-promotions {
  position: relative;
  height: 850px; }
  .news-promotions .link_underline {
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
    font-size: 15px;
    width: 13rem;
    display: block;
    color: #000000;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 50px; }
    .news-promotions .link_underline:hover {
      text-decoration: none;
      color: #000000; }
  .news-promotions h2 {
    font-size: 3rem;
    text-transform: uppercase;
    width: 600px;
    margin-bottom: 2rem;
    line-height: 5rem;
    font-weight: 900; }
  .news-promotions__title {
    font-size: 2.9rem; }
  .news-promotions__main-container {
    align-items: flex-end; }
  .news-promotions__img-description {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    color: #68625D; }
  .news-promotions::after {
    content: '';
    background: #F9F9F9;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80%;
    height: 100%;
    z-index: -1; }
  .news-promotions .row {
    align-items: flex-end; }
  .news-promotions .news-item__title {
    font-size: 1rem; }
  .news-promotions .news-item .link {
    font-size: 15px;
    width: 13rem;
    display: block;
    color: #000000;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 50px; }
    .news-promotions .news-item .link:hover {
      text-decoration: none;
      color: #000000; }

/* Preview block */
.preview-block {
  background: url(../images/A136_preview.jpg);
  width: 80vw;
  height: 555px;
  background-size: cover;
  background-repeat: no-repeat; }
  .preview-block__title {
    font-size: 2.6rem;
    width: 570px;
    max-width: 100%;
    position: relative;
    top: 40%;
    left: -160px;
    text-transform: uppercase;
    line-height: 3.8rem;
    transform: translateY(-50%); }
  .preview-block .link {
    font-size: 15px;
    width: 13rem;
    display: block;
    color: #000000;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 50px;
    position: relative;
    top: 200px;
    left: 333px; }
    .preview-block .link:hover {
      text-decoration: none;
      color: #000000; }
  .preview-block_bg {
    background: url(../images/A136_preview-block.jpg);
    background-size: cover;
    background-repeat: no-repeat; }

/***************************************************
****************************************************     

        COMPONENT FOR BLOCK WITH LEFT SIDE 

*****************************************************
****************************************************/
.right-sd {
  display: flex;
  justify-content: normal;
  flex-direction: column;
  align-items: flex-end; }
  .right-sd__title {
    font-size: 2.6rem;
    width: 570px;
    margin: 50px 200px;
    text-transform: uppercase; }

/* IMPORT STYLESHEET FOR THE PAGES */
.app-hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/home-page/hero.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .app-hero .app-hero__h1 {
    position: absolute;
    width: 629px;
    height: 130px;
    left: 100px;
    bottom: 155px;
    font-family: Artegra Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #fff; }
  .app-hero .app-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    padding: 60px 100px 25px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1;
    position: fixed; }
    .app-hero .app-header__map {
      color: #fff;
      display: flex;
      flex-direction: row;
      position: relative;
      width: 520px;
      line-height: 22px;
      justify-content: space-evenly; }
      .app-hero .app-header__map a {
        color: #fff; }
      .app-hero .app-header__map .app-header-container {
        display: flex;
        flex-direction: column; }
    .app-hero .app-header__nav-menu {
      position: relative;
      /* Navigation menu */ }
      .app-hero .app-header__nav-menu nav {
        background-color: #232529;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out; }
        .app-hero .app-header__nav-menu nav ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transition: all 0.3s ease-in-out;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 40vh;
          text-transform: uppercase;
          width: 400px;
          text-align: center; }
          .app-hero .app-header__nav-menu nav ul li {
            transform: translateY(50px);
            opacity: 0; }
            .app-hero .app-header__nav-menu nav ul li a {
              display: block;
              font-size: 2em;
              text-decoration: none;
              padding: 10px 0;
              text-align: center;
              color: #fff;
              font-weight: bold;
              transition: all 0.2s ease-in-out;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
              .app-hero .app-header__nav-menu nav ul li a:hover {
                color: #B9B19D; }
      .app-hero .app-header__nav-menu .toggle-btn {
        display: block;
        position: fixed;
        z-index: 10;
        right: 10px;
        top: 10px;
        cursor: pointer; }
        .app-hero .app-header__nav-menu .toggle-btn .bar {
          width: 30px;
          height: 2px;
          margin: 7px auto;
          background-color: #fff;
          transition: all 0.3s ease-in-out;
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3); }
          .app-hero .app-header__nav-menu .toggle-btn .bar:nth-child(2) {
            width: 20px; }
      .app-hero .app-header__nav-menu #toggle:checked ~ nav {
        opacity: 1;
        visibility: visible; }
        .app-hero .app-header__nav-menu #toggle:checked ~ nav ul li {
          transform: translateY(0px);
          opacity: 1; }
          .app-hero .app-header__nav-menu #toggle:checked ~ nav ul li:nth-child(1) {
            transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s; }
          .app-hero .app-header__nav-menu #toggle:checked ~ nav ul li:nth-child(2) {
            transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s; }
          .app-hero .app-header__nav-menu #toggle:checked ~ nav ul li:nth-child(3) {
            transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s; }
          .app-hero .app-header__nav-menu #toggle:checked ~ nav ul li:nth-child(4) {
            transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s; }
      .app-hero .app-header__nav-menu #toggle:checked + label.toggle-btn .bar {
        background-color: red; }
        .app-hero .app-header__nav-menu #toggle:checked + label.toggle-btn .bar:nth-child(2) {
          transform: translateX(50px);
          opacity: 0; }
        .app-hero .app-header__nav-menu #toggle:checked + label.toggle-btn .bar:nth-child(1) {
          transform: translateY(10px) rotate(45deg); }
        .app-hero .app-header__nav-menu #toggle:checked + label.toggle-btn .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg); }
      .app-hero .app-header__nav-menu a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around; }
        .app-hero .app-header__nav-menu a span {
          width: 100%;
          height: 2px;
          background: #fff; }
    .app-hero .app-header__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 300px;
      display: flex;
      flex-direction: column;
      height: 100vh;
      display: none; }
    .app-hero .app-header__list-item {
      font-size: 12px;
      float: left;
      margin-right: 5px; }
  .app-hero__watch-block {
    position: absolute;
    width: 467px;
    height: 145px;
    right: 0;
    bottom: 0;
    background: #232529;
    display: flex;
    justify-content: center;
    align-items: center; }
    .app-hero__watch-block::before {
      content: " ";
      height: 100vh;
      background: rgba(255, 255, 255, 0.2);
      width: 1px;
      position: absolute;
      left: -1px; }
    .app-hero__watch-block span {
      color: #fff;
      position: relative;
      padding-left: 75px;
      letter-spacing: 0.1em;
      font-size: 20px; }
      .app-hero__watch-block span::before {
        content: " ";
        width: 62px;
        position: absolute;
        background: #fff;
        height: 2px;
        top: 50%;
        left: 0px; }
  .app-hero__list-social {
    position: absolute;
    bottom: 190px;
    right: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 265px;
    font-size: 17px; }
    .app-hero__list-social a {
      color: #fff; }
  .app-hero__rectangle {
    height: 2250px;
    width: 249px;
    position: absolute;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    transform: rotate(-67deg);
    bottom: -550px;
    right: 915px;
    border-right: 1px solid rgba(255, 255, 255, 0.2); }
    .app-hero__rectangle::after {
      content: "";
      width: 100vw;
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      height: 100%;
      left: 248px; }

/*****************************************************************
******************************************************************

				PAGE ABOUT US

******************************************************************
*****************************************************************/
.full-image {
  padding-bottom: 8rem; }
  .full-image .social-container {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .full-image .social-container__item {
      display: block;
      padding: 30px 15px;
      color: #232529;
      text-transform: uppercase; }

.right-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .right-container__main h2 {
    font-weight: 900;
    line-height: 55px;
    width: 25rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
    width: 600px;
    margin-bottom: 2rem;
    line-height: 5rem;
    font-weight: 900; }
  .right-container__main p {
    width: 23rem;
    margin-left: 7rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px; }
  .right-container__main .link {
    font-size: 15px;
    width: 13rem;
    display: block;
    color: #000000;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 50px; }
    .right-container__main .link:hover {
      text-decoration: none;
      color: #000000; }
  .right-container__title {
    font-weight: 900;
    font-size: 3rem;
    line-height: 55px;
    width: 25rem;
    margin-bottom: 3rem; }
    .right-container__title span {
      color: #B9B19D;
      display: block; }
  .right-container__lead {
    margin-left: 5rem; }
  .right-container .link {
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
    margin-left: 7rem; }

/* Double-preview section */
.double-preview .main-title {
  font-size: 3rem;
  text-transform: uppercase;
  width: 600px;
  margin-bottom: 2rem;
  line-height: 5rem;
  font-weight: 900; }
.double-preview__container {
  align-items: flex-end; }
  .double-preview__container .small-preview figure {
    height: 490px;
    overflow: hidden; }
.double-preview__text-content {
  width: 70%;
  justify-content: space-between; }
.double-preview__text-item {
  width: 540px; }
.double-preview .link {
  font-size: 15px;
  width: 13rem;
  display: block;
  color: #000000;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000000; }
  .double-preview .link:hover {
    text-decoration: none;
    color: #000000; }

/* Infrastructure */
.infrastructure h2 {
  font-weight: 900;
  line-height: 55px;
  width: 25rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  width: 600px;
  margin-bottom: 2rem;
  line-height: 5rem;
  font-weight: 900; }
.infrastructure p {
  width: 23rem;
  margin-left: 7rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px; }
.infrastructure .link {
  font-size: 15px;
  width: 13rem;
  display: block;
  color: #000000;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  margin-top: 50px; }
  .infrastructure .link:hover {
    text-decoration: none;
    color: #000000; }
.infrastructure__preview {
  height: auto;
  width: 100%;
  margin-top: 12rem; }
.infrastructure .link {
  margin-left: 7rem;
  padding-bottom: 20px;
  border-bottom: 2px solid #000000; }

/* Multiple Blocks | Slider */
.multiple-blocks-containers__first-block {
  width: 310px; }
.multiple-blocks-containers__item {
  width: 100%; }
  .multiple-blocks-containers__item:first-child {
    background: #B9B19D;
    height: 405px; }
  .multiple-blocks-containers__item:last-child {
    height: 615px;
    background: url("../images/About-us/Used__technology-slider/A136__living-room-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
.multiple-blocks-containers__second-block .slider__controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
.multiple-blocks-containers__third-block {
  display: flex;
  justify-content: center;
  align-items: center; }
  .multiple-blocks-containers__third-block h2 {
    font-weight: 900;
    line-height: 55px;
    width: 25rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
    width: 600px;
    margin-bottom: 2rem;
    line-height: 5rem;
    font-weight: 900; }
  .multiple-blocks-containers__third-block p {
    width: 23rem;
    margin-left: 7rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px; }
  .multiple-blocks-containers__third-block .link {
    font-size: 15px;
    width: 13rem;
    display: block;
    color: #000000;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 50px; }
    .multiple-blocks-containers__third-block .link:hover {
      text-decoration: none;
      color: #000000; }
  .multiple-blocks-containers__third-block .link {
    padding-bottom: 20px;
    border-bottom: 2px solid #000000; }
  .multiple-blocks-containers__third-block p {
    margin-left: 0px; }

/* Multiple Blocks | Gallery */
.gallery-section {
  /* first figure */ }
  .gallery-section__left-container {
    width: 125px;
    height: 2290px;
    align-items: flex-end; }
  .gallery-section__color-figure {
    height: 45%;
    width: 100%;
    background: #B9B19D; }
  .gallery-section__innder-upper-container {
    align-items: flex-end; }
  .gallery-section__smaller-preview {
    margin-bottom: 160px; }
  .gallery-section__third-container {
    margin-top: 770px;
    width: 100%; }
  .gallery-section__inner-lower-container {
    padding-left: 10vw;
    margin-top: 6rem; }
    .gallery-section__inner-lower-container h2 {
      font-weight: 900;
      line-height: 55px;
      width: 25rem;
      margin-bottom: 3rem;
      font-size: 3rem;
      font-size: 3rem;
      text-transform: uppercase;
      width: 600px;
      margin-bottom: 2rem;
      line-height: 5rem;
      font-weight: 900; }
    .gallery-section__inner-lower-container p {
      width: 23rem;
      margin-left: 7rem;
      font-weight: 500;
      font-size: 16px;
      line-height: 35px; }
    .gallery-section__inner-lower-container .link {
      font-size: 15px;
      width: 13rem;
      display: block;
      color: #000000;
      line-height: 25px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      margin-top: 50px; }
      .gallery-section__inner-lower-container .link:hover {
        text-decoration: none;
        color: #000000; }
    .gallery-section__inner-lower-container p {
      margin-left: 0px; }
    .gallery-section__inner-lower-container .link {
      padding-bottom: 20px;
      border-bottom: 2px solid #000000; }
  .gallery-section__fourth-container {
    justify-content: center;
    align-items: center;
    height: 660px; }
  .gallery-section__preview-container {
    width: 1170px;
    margin-top: 140px; }

.gallery {
  padding: 0; }
  .gallery__container {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap; }
  .gallery__img-holder {
    display: block;
    min-width: 100%;
    height: 600px;
    margin-bottom: 20px; }
    .gallery__img-holder:nth-child(1n) {
      width: 23%;
      margin-right: 15px;
      min-width: 250px;
      max-width: 100%; }
    .gallery__img-holder:nth-child(2n) {
      width: 75%;
      min-width: 435px;
      max-width: 100%;
      flex-grow: 1;
      margin-right: 0px; }
    .gallery__img-holder:nth-child(3n) {
      width: 75%;
      min-width: 435px;
      max-width: 100%;
      flex-grow: 1;
      margin-right: 20px; }
    .gallery__img-holder:nth-child(4n) {
      width: 23%;
      margin-right: 0px;
      min-width: 250px;
      max-width: 100%; }
    .gallery__img-holder:nth-child(5n) {
      width: 23.33333333%;
      margin-right: 20px;
      min-width: 250px;
      max-width: 100%; }
    .gallery__img-holder:nth-child(6n) {
      width: 33.33333333%;
      max-width: 100%; }
    .gallery__img-holder:nth-child(7n) {
      width: 23.33333333%;
      margin-right: 0px;
      min-width: 250px;
      max-width: 100%; }
    .gallery__img-holder:nth-child(8n) {
      width: 23%;
      margin-right: 15px;
      min-width: 250px;
      max-width: 100%; }
    .gallery__img-holder:nth-child(9n) {
      width: 75%;
      min-width: 435px;
      max-width: 100%;
      flex-grow: 1;
      margin-right: 0px; }
  .gallery__item {
    height: 100%;
    object-fit: cover; }

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(600px, auto);
  grid-auto-flow: dense; }
  .grid-layout .grid-item__item {
    height: 100%;
    object-fit: fill; }
  .grid-layout .span:nth-of-type(2n) {
    grid-column-end: span 2;
    grid-row-end: span 1; }
  .grid-layout .span:nth-child(3n) {
    grid-column-end: span 2; }
  .grid-layout .span:nth-child(5n) {
    grid-row-end: span 2; }
  .grid-layout .span:nth-child(6n) {
    grid-column-end: span 2;
    grid-row-end: span 1; }
  .grid-layout .span:nth-child(7n) {
    grid-column-end: span 2;
    grid-row-end: span 1; }
  .grid-layout .span.span:nth-child(8n) {
    grid-column-end: span 2;
    grid-row-end: span 1; }
  .grid-layout .span:nth-child(9n) {
    grid-column-end: span 2;
    grid-row-end: span 1; }

/*****************************************************************
******************************************************************

				PAGE ABOUT US

******************************************************************
*****************************************************************/
section .content-image {
  display: flex; }
  section .content-image .text-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
    margin-right: 20vw;
    padding-left: 10vw; }
    section .content-image .text-content span {
      color: #68625D;
      font-size: 12px; }
    section .content-image .text-content h4 {
      font-size: 35px;
      line-height: 45px;
      text-transform: uppercase; }
    section .content-image .text-content p {
      color: #6C6C6C;
      font-size: 18px;
      line-height: 28px; }
    section .content-image .text-content .link {
      font-size: 15px;
      width: 13rem;
      display: block;
      color: #000000;
      line-height: 25px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      margin-top: 50px; }
      section .content-image .text-content .link:hover {
        text-decoration: none;
        color: #000000; }
  section .content-image figure {
    margin: 0;
    width: 50%; }
    section .content-image figure img {
      display: block; }

body {
  font-family: "Artegra Sans regular";
  font-weight: 100; }

img {
  width: 100%; }

section {
  padding-top: 3rem;
  padding-bottom: 5rem; }

.pl {
  padding-left: 10vw; }

.pr {
  padding-right: 10vw; }

.row {
  width: 100%; }
