@import "./mixin.scss";
@import "./fonts.scss";
@import "./_media-query.scss";

/* IMPORT STYLE COMPONENTS */

@import "./_components/components.scss";

/* IMPORT STYLESHEET FOR THE PAGES */

@import "./_pages/home-page.scss";
@import "./_pages/about-us.scss";
@import "./_pages/gallery.scss";
@import "./_pages/news.scss";
@import "./_pages/single-news.scss";
@import "./_pages/constructions.scss";
@import "./_pages/documentation.scss";
@import "./_pages/infrastructure.scss";

// * {
// 	// box-sizing: border-box;
// 	// padding: 0px;
// 	// margin: 0px;
// }

body {
  font-family: "Artegra Sans regular";
  font-weight: 100;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  // font-size: 0.17rem;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

// section {
//     padding-top: 3rem;
//     padding-bottom: 5rem;
// }

.main-title {
  @include main-tite;
}

.pl {
  padding-left: $pl;
}

// .pr {
//     padding-right: $pr;
// }

.ml {
  margin-left: $pl;
}

.mr {
  margin-right: $pl;
}

.row {
  width: 100%;
  margin: 0;
}
