<<<<<<< HEAD
@import "./mixin.scss";
@import "./fonts.scss";
@import "./_media-query.scss";


=======
/** @format */

@import './mixin.scss';
@import './fonts.scss';
>>>>>>> master

/* IMPORT STYLE COMPONENTS */

@import './_components/components.scss';

/* IMPORT STYLESHEET FOR THE PAGES */

<<<<<<< HEAD
@import "./_pages/home-page.scss"; 
@import "./_pages/about-us.scss";
@import "./_pages/gallery.scss";
@import "./_pages/news.scss";
@import "./_pages/single-news.scss";
@import "./_pages/constructions.scss";



=======
@import './_pages/home-page.scss';
@import './_pages/about-us.scss';
@import './_pages/gallery.scss';
@import './_pages/news.scss';
@import './_pages/constructions.scss';
>>>>>>> master

// * {
// 	// box-sizing: border-box;
// 	// padding: 0px;
// 	// margin: 0px;
// }

body {
	font-family: 'Artegra Sans regular';
	font-weight: 100;
	// font-size: 0.17rem;
}

figure{
    margin: 0;
}

img {
	width: 100%;
}

<<<<<<< HEAD
// section {
//     padding-top: 3rem;
//     padding-bottom: 5rem;
// }

.main-title{
    @include main-tite;
=======
section {
	padding-top: 3rem;
	padding-bottom: 5rem;
>>>>>>> master
}

.pl {
	padding-left: $pl;
}

<<<<<<< HEAD
// .pr {
//     padding-right: $pr;
// }

.ml{
    margin-left: $pl;
}

.mr{
    margin-right: $pl;
=======
.pr {
	padding-right: $pr;
>>>>>>> master
}

.row {
	width: 100%;
}
