@import "./mixin.scss";
@import "./fonts.scss";

/* IMPORT STYLE COMPONENTS */

@import "./_components/components.scss";

/* IMPORT STYLESHEET FOR THE PAGES */

@import "./_pages/about-us.scss";
@import "./_pages/gallery.scss";




// * {
// 	// box-sizing: border-box;
// 	// padding: 0px;
// 	// margin: 0px;
// }

body {
    font-family: "Artegra Sans regular";
    font-weight: 100;
    // font-size: 0.17rem;
}

img {
    width: 100%;
}

section {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.pl {
    padding-left: $pl;
}

.pr {
    padding-right: $pr;
}

.row {
    width: 100%;
}