@import '../css/variables.scss';

@mixin link{
    color: $b-text;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
}

@mixin bg-img{
    background-size: cover;
	background-repeat: no-repeat;
}